body {
  margin: 0;
  padding:0;
  font-family: 'Garamond';
}

h1 {
  padding-top: 10px;
  text-align: center;
  font-family: 'Garamond';
  font-size: 50px;
}

h2 {
  margin-left: 5vh;
  margin-right: 5vh;
  font-family: 'Garamond';
  font-size: 30px;
}

p {

  margin-left: 10vh;
  margin-right: 10vh;
  font-family: 'Garamond';
  font-size: 20px;
}

nav {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 5px 100px;
  box-sizing: border-box;
  border-bottom: solid 1px;
}

nav .logo {
  padding: 5px 5px;
  height: 90px;
  float: left;
  font-size: 65px;
}

nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0px;
  display: flex;
}

nav ul li {
  list-style: none;
  float: right;
  position: relative;
}

nav ul li a {
  line-height: 80px;
  color: #151515;
  opacity: inherit;
  padding: 15px 14px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  transition: .3s;
  font-size: 16px;
}

nav ul li a:focus {
  background-color:#7e7c7f;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #7e7c7f;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li a {
  padding: 6px 4px;
  font-size: 12px;
  width: 180px;
  border-radius: 4px;
  color: black;
}

nav ul li a:hover {
  background-color: #afacaf;
}

nav.black ul li a {
  color: #fff;
}

.ncb {
  float: left;
  height: 20%;
  width: 45%;
  padding: 2px;
  margin-right: 5vh;
  border: solid 1px;
      }

.content p {
  margin-left: 5vh;
  margin-right: 10vh;
  text-align: right;
  font-size: 22px;
  line-height: 22px;
}

p.big {
  line-height: 1.8;
  text-align: justify;
  margin-left: 5vh;
  margin-right: 5vh;
  padding-top: 5px;
  font-size: 24px;
}

img.borges {
    float: right;
    height: 40%;
    width: 60%;
    display: inline-block;
    padding: 2px;
    margin-left: 5vh;
    margin-right: 5vh;
    border: solid black 1px;
  }

img.ocampo {
  float: right;
  height: 40%;
  width: 60%;
  display: inline-block;
  padding: 2px;
  margin-left: 5vh;
  margin-right: 5vh;
  border: solid black 1px;
  }

p.bibliography {
  line-height: 1.2;
  margin-left: 7vh;
  margin-right: 7vh;
  padding-top: 5px;
  font-size: 18px;
  font-family: Quicksand;
}

.me {
      float: left;
      height: 20%;
      width: 30%;
      display: inline;
      padding: 2px;
      border: solid black 1px;
      margin-right: 10vh;
      margin-left: 5vh;
}

p.bio {
  line-height: 1.8;
  margin-left: 7vh;
  margin-right: 7vh;
  padding-top: 5px;
  font-size: 20px;
  text-align: right;
  font-family: Quicksand;
}

.site-footer {
  height: 105px;
  border-top: 1px solid black;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;
  width: 380px;
  margin: 40px auto 0;
    margin-top: 40px;
    margin-right: 5vh;
    margin-bottom: 0px;
    margin-left: auto;
}

footer {
  position: relative;
  text-align: center;
  margin-right: 5vh;
}

.site-footer img {
  display: inline-block;
  width: 40px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
  position: absolute;
  float: right;
  margin: 0;
  padding: 0px;
  display: flex;
}

p.display {
  margin-left: 5vh;
  margin-right: 5vh;
  font-family: 'Garamond', cursive;
  font-size: 30px;
}

.ocampo {
      float: right;
      height: 30%;
      width: 30%;
      display: inline;
      padding: 2px;
}

.site-footer {
  text-align: center;
  height: 105px;
  border-top: 1px solid black;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;
  width: 380px;
  margin: 40px auto 0;
    margin-top: 40px;
    margin-right: 5vh;
    margin-bottom: 0px;
    margin-left: auto;
}

footer {
  position: relative;
  float: right;
  margin-right: 5vh;
}

.site-footer img {
  display: inline-block;
  width: 40px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
  position: absolute;
  float: right;
  margin: 0;
  padding: 0px;
  display: flex;
}
