<!DOCTYPE html>
<meta charset="utf-8">
<title>{{ site.title }}</title>
<link href="https://fonts.googleapis.com/css?family=Alice" rel="stylesheet">

<link rel="stylesheet" href="{{ site.baseurl }}/style.css">

<header role="banner" id="banner">
    {% if page.title != 'Home' %}
    <nav>
      <ul>
        {% assign navigation_pages = site.html_pages | sort: "order" %}
        {% for p in navigation_pages %}
        {% if p.order %}
          <li>
            <a href="{{ p.url | prepend: site.baseurl }}" {% if p.url == page.url %}class="active"{% endif %}>
              {{ p.title }}
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    {% endif %}
</header>

<main role="main" id="main">
{{ content }}
</main>
