<!DOCTYPE html>
<meta charset="utf-8">
<title>{{ site.title }}</title>
<link href="https://fonts.googleapis.com/css?family=Alice" rel="stylesheet">

<link rel="stylesheet" href="{{ site.baseurl }}/style.css">

<header role="banner" id="banner">
  <nav>
    <a href="{{ site.baseurl }}/">Home</a>
    <a href="{{ site.baseurl }}/cv/">CV</a>
    <a href="{{ site.baseurl }}/contact/">Contact</a>
    <a href="{{ site.baseurl }}/projects/">Projects</a>
  </nav>

</header>
<main role="main" id="main">
{{ content }}
</main>
